<!DOCTYPE html>
<html>
<head>
    <title>Detail</title>
</head>
<body>
    <h1><%= item.name %></h1>
    <p><%= item.attribute1 %></p>
    <p><%= item.attribute2 %></p>
    <p><%= item.attribute3 %></p>
    <p><%= item.attribute4 %></p>
    <a href="/">Back to home</a>
</body>
</html>