<html>
    <body>
        <a href="/">Home</a>
{{#if result}}
    <h2>{{make}} details</h2>
    <li>model: {{result.model}}</li>
    <li> <%= item.year %></li>
    <li> <%= item.color %></li>
    <li> <%= item.price %></li>
    <p>
    <a href="/delete?make={{result.make}}">Delete</a>
    </p>
{{else}}
        <h2>{{make}} not found</h2>
{{/if}}

    </body>
</html>